#mapwrapper {
  width: 60%;
  height: 100%
}

.leaflet-container {
  width: 100%;
  height: 100%;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px
}

.leaflet-top.leaflet-left {
  display: none
}
