#panel {
  background-color: grey;
  position: absolute;
  height: 97%;
  width: 38%;
  top: 0px;
  left: 60%;
  z-index: 9999;
  opacity: 0.92;
  padding-left: 2%;
  padding-top: 2%;
}

#actual-position p{
  margin-top: 0px;
  margin-bottom: 2px
}
